<!-- home/templates/home/final_report.html -->

<!-- home/templates/home/final_report.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Result</title>
</head>
<body>
    <h2>Quiz Result</h2>
    <p>Phobia: {{ result.phobia_name }}</p>
    <p>{{ result.sympathy_responses }}</p>
    <!-- Add more details as needed -->
</body>
</html>
