<style>
    * {
        margin: 0;
        padding: 0;
      }
    
      .footer-logo {
        width: 50px;
        height: auto;
        font-weight: bolder;
        font-size: 200%;
        color: chocolate;
        font-family: Georgia, 'Times New Roman', Times, serif;
      }
    
      .footer {
        width: 130.5%;
        background: #1c3142;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;
        color: whitesmoke;
        padding: 40px 20px;
        box-sizing: border-box;
        margin-left: -200px;
      }
    
      .footer-content {
        flex: 1 1 200px;
        margin: 10px 20px;
        box-sizing: border-box;
        margin-left: 150px;
      }
    
      .footer-content a {
        text-decoration: none;
        color: white;
        transition: all .40s ease;
      }
    
      .footer-content a:hover {
        transform: translateY(-5px) translateX(-7px);
        color: chocolate;
      }
    
      .footer-email {
        width: 100%;
        max-width: 300px;
        height: 29px;
        border-radius: 10px;
        border-color: chocolate;
        box-sizing: border-box;
        caret-color: chocolate;
        caret-shape: underscore;
      }
    
      .footer-content h2 {
        margin-bottom: 1.5rem;
        font-size: 27px;
        font-weight: 500;
      }
    
      .footer-content li {
        margin-bottom: 7px;
      }
    
      .footer-content p {
        color: white;
        font-size: 18px;
        line-height: 30px;
        margin: 10px 0;
      }
    
      .icons {
        display: flex;
        font-size: 22px;
      }
    
      .footer-button {
        height: 35px;
        background-color: chocolate;
        border-radius: 90px;
        width: 50px;
        border-color: chocolate;
        color: black;
      }
    
      button i {
        font-size: 22px;
        color: beige;
      }
      </style>
      <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
      {%if message%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Holy guacamole!</strong> You should check in on some of those fields below.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {%endif%}
      
      <br><br>
          <section class="footer">
            <div class="footer-content" id="footer-content-1">
              <h1 class="footer-logo"><a href="{% url 'home' %}" style="color: chocolate; font-family: Georgia, 'Times New Roman', Times, serif;">MindDoc</a></h1>
              <p>Pop your e-mail here to get our newsletter on 
                  Mental health.</p>
                  <form action="{%url 'home'%}" method="post">
                    {% csrf_token %}
                    <input class="footer-email" type="email" name="footer-email">
                    <button class="footer-button" type="submit"><strong>&#8594;</strong></button>
                  </form>
            </div>
      
            <div class="footer-content" id="footer-content-2">
              <h2><b>Contact us</b></h2>
              <h6><a href="minddoc.sdp@gmail.com">minddoc.sdp@gmail.com</a></h6>
              <h6>+91-70696-15399</h6>
              <div class="icons">
                <a href="#"><i class='bx bxl-instagram' ></i></a>
                <a href="#"><i class='bx bxl-facebook-circle' ></i></a>
                <a href="#"><i class='bx bxl-twitter' ></i></a>
              </div>
            </div>
      
            <div class="footer-content" id="footer-content-3">
                <h2><b>On our site</b></h2>     
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Explore Phobias</a></li>
                <li><a href="{% url 'mental_state' %}">Explore Mental states</a></li>
                <li><a href="{% url 'experts' %}">Expert</a></li>
                <li><a href="#">People@MindDoc</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Guide</a></li>
            </div>
        </section>
    