{% extends 'home/base.html' %}
{% block content %}
{% load static %}

<style>
    body {
        margin: 0;
        font-family: Montserrat, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .container {
        border-radius: 10px;
        max-width: 800px;
        width: 100%;
    }

    .form-control {
        max-width: 100%; /* Adjusted to be responsive */
        border: 1px solid #d2d2d2;
        width: 100%;
        box-sizing: border-box; /* Added to include padding and border in width calculation */
        margin-bottom: 15px; /* Added some space between the input fields */
    }

    button {
        color: #ffffff;
        border: 1px solid darkblue;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
    }

    .alert {
        margin-top: 10px;
        background-color: #e74c3c;
        color: #ffffff;
        padding: 10px;
        border-radius: 5px;
    }
</style>

<body>
    <div class="container">
        <form method="POST" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3" id="password1">
                <input type="password" class="form-control" name="password1" placeholder="New Password">
            </div>
            <div class="mb-3" id="password2">
                <input type="password" class="form-control" name="password2" placeholder="Repeat New Password">
            </div>
            <button type="submit" class="btn btn-primary" style="background-color: darkblue; border: 1px solid darkblue;">Submit</button>
        </form>
    </div>
</body>
{% endblock %}
