<div class="col-md-6 offset-md-3">
    <form method="POST" action="{% url 'home'%}">
      {% csrf_token %}

      <br>
      <h2>Login!</h2><br>

      <div class="mb-3">
        <input type="text" placeholder="Username" class="form-control" name="username" aria-describedby="emailHelp">
      </div>

      <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-primary">Login</button>

    </form>
  </div>