{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Elsie">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    
        *{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: Montserrat,sans-serif;
        }

      
        .main{
            height: 570px;
            position: relative;
            width: 79%;
            margin-top: 265px;
            margin-left: 100px;
            padding: 10px 10%;
        }

        .background-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{% static 'home/mainbackground1.jpg' %}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 470px 540px;
            animation: moveupBackground 2.5s linear; /* Adjust the animation duration and timing function as needed */
            z-index: 0;
            margin-left: 60px;
            margin-top: 29px;
        }

        @keyframes moveupBackground {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .item{
            display: inline-block;
            justify-content: space-around;
            position: relative;
            z-index: 1;
        }
    
        #text {
            margin-top: -100px;
            margin-left: 40px;
            text-align: center;
        }
    
        #text h1 {
            left: 390px;
            margin-bottom:10px;
            color: chocolate;
            font-size: 55px;
            animation-delay:0.1s;
            font-family: "Elsie", sans-serif;
            font-weight: bold;
        }

        #text h3{
            font-size: 20px;
            color: rgb(118, 117, 117);
            text-wrap: nowrap;
            animation-delay: 1.5s;
        } 
        #youdonthavetostruggle h3{
            margin-left: -250px;
            color: rgb(0, 0, 0);
            margin-top: 100px;
            font-size: 22px;
        }

        #youdonthavetostruggle a{
            margin-left: -250px;
            margin-top: 190px;
            font-size: 13px;
            text-decoration: underline; 
            color:grey;
        }

        .audioimage img{
            height: 80px;
            width: 200px;
            margin-left: -270px;
            margin-top: 100px;
        }

        .chatwithconsultant img{
            height: 110px;
            width: 110px;
            margin-left: -250px;
            margin-top: -1000px;
        }

        .grief{
            margin-left: 950px;
            margin-top: -200px;
        }

        .grief h3{
            font-size: 27px;
            text-wrap: nowrap;
        }

        .grief h3 b{
            font-family: "Elsie", sans-serif;
        }

        .grief h5{
            font-size: 14px;
            text-wrap: nowrap;
            display: block;
            margin: 13px;
            line-height: 24px;
        }

        .hope img{
            height: 110px;
            width: 110px;
            margin-left: 950px;
            margin-top: -790px;
        }

        .hope h5{
            margin-left: 1050px;
            margin-top: -450px;
            font-size: 10px;
            text-wrap: nowrap;
            line-height: 15px;
            font-weight: 100;
        }

        .anim{
            opacity: 0;
            transform: translateY(30px);
            animation: moveup 0.5s linear forwards;
        }


        @keyframes moveup{
            100%{
                opacity: 1;
                transform: translateY(0px);
            }
        }



        
        .aboutus{
            margin-top: 150px;
            margin-left: 470px;
        }
        .aboutus #h1{
            left: 400px;
            margin-bottom:10px;
            color: #343470;
            font-size: 55px;
        }

        .aboutus #h4{
            margin-left: -110px;
            margin-bottom:10px;
            color: grey;
            font-size: 17px;
        }

         /* Card container */
        .card-container {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }

        /* Individual card styling */
        .card {
            width: 260px;
            padding: 40px;
            margin: 10px;
            border: 1px solid #ddd;
            border-radius: 18px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0);
            background-color: #FFD1E8;
            cursor: pointer;
            background-position: center bottom;
        }

        .card h2{
            color: #5a60a3;
            /* color: cornsilk; */
            justify-content: center;
            text-align: center;
            font-size: 25px;
            text-wrap: wrap;
        }

        .card:hover{
            background-color: #b8a0a3;
            color: white;
        }

        a{
            text-decoration: none;
        }

        .card img{
            width: 70px;
            margin-left: 50px;
        }

        .how-it-works{
            margin-top: 100px;
            margin-left: 470px;
        }

        .how-it-works #h1{
            left: 400px;
            margin-bottom:10px;
            color: #343470;
            font-size: 55px;
        }
        .card-container-how-it-works {
            display: flex;
            justify-content: space-between;
            margin: 30px; 
        }

        

            /* Individual card styling */
        .card-how-it-works {
            width: calc(30% - 10px); 
            margin: 10px;
            border: 1px solid #ddd;
            border-radius: 38px;
            box-shadow: 10px 18px 18px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            overflow: hidden;
            cursor: pointer;
        }

        /* Card heading */
        .card-heading {
            padding: 20px;
            text-align: center;
            font-size: 1%;
            align-items: center;
        }
        .card-heading img{
                width: 100px;
                margin-left: 0px;
                margin-top: 10px;
                justify-content: center;
        }

        .card-heading span{
                width: 170px;
                margin-left: 10px;
                font-size: 20px;
                font-weight: 20%;
                margin-right: 20px;
                margin-top: 20px;
                padding: 30px;
        }

            /* Line separating upper and lower parts */
        .card-divider {
            border-top: 1px solid chocolate;
        }

        .card-lower {
            padding: 20px;
            color: chocolate;
        }

/* animated container of questions */
        .container-questions {
            height: 400px; 
            overflow: hidden; 
            border-radius: 15px; 
            background-color: white; 
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            width: 100%; 
            margin: 0 auto; 
            position: relative;
            border: 1px outset #ff66b2; /* Border color */
            box-shadow: 30px 30px 2px rgba(255,102,178, 0.3);
            
        }

        /* Style for the typing animation container */
        .typing-animation-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            z-index: 1; 
            position: absolute;
            top: 20px;
            left: 20px; 
        }

        /* Style for the typing animation */
        .typing-animation {
            overflow: hidden;
            white-space: nowrap;
            margin-bottom: 10px;
            font-size: 33px;
            color: #ff66b2;
            margin-left: 645px;
            margin-top: 40px;
            font-weight: bolder;
            margin-top: 140px;
        }

        /* Style for the text container */
        .text-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding-left: 40px;
            font-weight: bolder;
            font-size: 20px; 
            color: aliceblue;
            position: relative;
            z-index: 0; 
        }

        /* Style for the two lines of text */
        .text-line {
            height: 50px; 
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            font-size: 16px;
            color: #555;
            margin-top: 90px;
        }

        /* Style for the image container */
        .image-container {
            flex: 1;
            background: url("{%static 'home/mainbackground.png' %}") center/cover; 
            height: 100%; 
            border-radius: 15px 0px 0px 15px;
            overflow: hidden;
            margin-top: 5px;
            margin-left:5px;
        }

        /* Style for the cute button */
        .cute-button {
            padding: 10px 20px;
            background-color: #ff66b2;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s;
        }

        .cute-button:hover {
            background-color: #e0518b;
        }

/* why minddoc */

    .whyminddoc{
            margin-top: 220px;
            margin-left: 470px;
    }
    .whyminddoc #h1{
            left: 400px;
            margin-bottom:10px;
            color: #343470;
            font-size: 55px;
    }

    .whycardcontainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      width:90%;
      box-shadow: 1px 14px 25px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      margin-left: 6%;
    }

    .card-why {
      margin: 5px;
      padding: 24px;
      text-align: center;
      background-color: #fff;
      box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      width: calc(33.33% - 20px); /* Three cards in one row */
      box-sizing: border-box;
    }

    .card-why:nth-child(4),
    .card-why:nth-child(5) {
      width: calc(50% - 100px); /* Two cards in the next row */
    }

    .card-why img {
      max-width: 15%;
      border-radius: 8%;
      margin-bottom: 10px;
    }

    .card-why h3 {
      margin: 1px;
      color: chocolate;
      font-size: 20px;
    }


/* doctor details */
    .doctor{
        margin-top: 180px;
        margin-left: 470px;
    }

    .doctor #h1{
        left: 400px;
        margin-bottom:10px;
        color: #343470;
        font-size: 55px;
    }


.doctor-container {
      display: flex;
      width: 90%;
      /* background-color: #fff; */
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      overflow: hidden;
      justify-content: center;
      align-items: center;
      height: 7%;
      margin-left: 5%;
      background: linear-gradient(to left, white, #84acd1);
      /* background: radial-gradient(circle, white, #84acd1); */
      background: conic-gradient(from -215deg, white, #84acd1);
    }

    .doctor-image {
      border-radius: 10px 0 0 10px;
      margin-inline-end: -200px;
    }

    .doctor-image img {
      width: 60%;
      height: 60%;
      margin-top: 2px;
      
    }

    .doctor-details {
      padding: 80px;
      margin-right: 190px;
    }

    .doctor-details h2 {
      margin-bottom: 1px;
      color: black;
      margin-right: 67px;
      font-weight: bolder;
    }

    .details-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .details-list li {
      margin-bottom: 10px;
    }

    .details-list span {
      font-weight: bold;
    }

    .details-list a {
      color: #007BFF;
      text-decoration: none;
    }

    .details-list a:hover {
      text-decoration: underline;
    } 

    @media screen and (max-width: 1200px) {
        .main {
            width: 100%;
            margin-left: 0;
        }

        .background-image {
            margin-left: 0;
        }

        .aboutus,
        .doctor,
        .whyminddoc {
            margin-left: 5%;
        }

        .card-container,
        .card-container-how-it-works,
        .whycardcontainer {
            width: 90%;
            margin-left: 5%;
        }

        /* Adjustments for smaller screens */
        .card,
        .card-how-it-works,
        .card-why {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 768px) {
        .main {
            margin-top: 150px;
        }

        .background-image {
            margin-left: 0;
        }

        .aboutus,
        .doctor,
        .whyminddoc {
            margin-left: 5%;
        }

        .card-container,
        .card-container-how-it-works,
        .whycardcontainer {
            width: 90%;
            margin-left: 5%;
        }

        /* Adjustments for smaller screens */
        .card,
        .card-how-it-works,
        .card-why {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 576px) {
        .main {
            margin-top: 100px;
        }

        .background-image {
            margin-left: 0;
        }

        .aboutus,
        .doctor,
        .whyminddoc {
            margin-left: 5%;
        }

        .card-container,
        .card-container-how-it-works,
        .whycardcontainer {
            width: 90%;
            margin-left: 5%;
        }

        /* Adjustments for smaller screens */
        .card,
        .card-how-it-works,
        .card-why {
            width: 100%;
            margin-bottom: 20px;
        }
    }
</style>

    <div class="main">
        <div class="item" id="text">
            <br><br>
            <h1 class="anim">Mental Health Matters.</h1>
            <h3 class="anim">Navigating anxiety issues, depression, phobias, or brain concerns can be overwhelming.</h3>
            <h3 style="text-decoration:underline; animation-delay: 1.5s;" class="anim">We got you.</h3>   
        </div>
        
        <div class="background-image"></div>
        <div class="youdonthavetostruggle" id="youdonthavetostruggle">
               <h3 style="animation-delay: 1.9s;" class="anim">you dont <b>have</b> to<br><b>struggle</b> in<br>silence.</h3>
               <a style="animation-delay: 1.9s;" class="anim" href="{%url 'experts' %}">LEARN MORE</a>
        </div>
        <div class="audioimage anim">
            <img style="animation: moveupBackground 1.8s linear backwards;" src="{%static 'home/audio.png'%}">
        </div>
        <div class="chatwithconsultant anim">
            <img style="animation: moveupBackground 1.8s linear backwards;" src="{%static 'home/CHAT WITH CONSULTANT3.jpg'%}">
        </div>
        <div class="grief">
            <h3 style="animation-delay: 1.0s;"  class="anim"><b>Grief</b><small> / gri:f /</small></h3>
            <h5 style="animation-delay: 1.5s;"  class="anim">Each day we learn of the<br>griefs and tributations<br>which affect our<br>constituents or ourselves.</h5>
        </div>
        <div class="hope anim">
            <img style="animation: moveupBackground 1.8s linear backwards;" src="{%static 'home/hope.jpg'%}">
            <h5 style="animation-delay: 1.5s;"class="anim">Prioritize joy,<br> embrace change,<br> nurture resilience daily.</h5>
        </div>
        
    </div>
    
<div class="aboutus">
    <h1 id="h1">About Minddoc</h1>
    <h4 id="h4">Our safe space provides you a non judgemental, holistic wellness experience.</h4>
</div>
<br>
        <!-- Card container -->
        <div class="card-container">
            <!-- Card 1 -->
            <div class="card" id="card1">
                <a href="">
                <h2>Treat
                <br>Mental States</h2><br>
                <img src="{% static 'home/state.png' %}">
                </a>
            </div>

            <!-- Card 2 -->
            <div class="card" id="card2">
                <h2>Treat
                <br>Phobias</h2><br>
                <img src="{% static 'home/phobia.png' %}">
            </div>

            <!-- Card 3 -->
            <div class="card" id="card3">
                <h2>Meet our
                <br>Consultant</h2><br>
                <img src="{% static 'home/doctor.png' %}">
            </div>

            <!-- Card 4 -->
            <div class="card" id="card4">
                <h2>Goal
                <br>Based Care</h2><br>
                <img src="{% static 'home/goal.png' %}">
            </div>
        </div><br><br><br>

        <!-- how-it-works -->
        <div class="how-it-works">
            <h1 id="h1">How it works?</h1>
        </div>

        <div class="card-container-how-it-works">
            <!-- Card 1 -->
            <div class="card-how-it-works">
              <div class="card-heading"><img src="{% static 'home/quiz.png' %}"><br><span>Quiz</span></div>
              <div class="card-divider"></div>
              <div class="card-lower">
                <p>We get to know more about your daily lifestyle.</p>
              </div>
            </div>
        
            <!-- Card 2 -->
            <div class="card-how-it-works">
                <div class="card-heading"><img src="{% static 'home/result.png' %}"><br><span>Providing result</span></div>
              <div class="card-divider"></div>
              <div class="card-lower">
                <p>By providing result we treat the cause from the root level.</p>
              </div>
            </div>
        
            <!-- Card 3 -->
            <div class="card-how-it-works">
                <div class="card-heading"><img src="{% static 'home/notification.png' %}"><br><span>Notification</span></div>
              <div class="card-divider"></div>
              <div class="card-lower">
                <p>We stay by your side, by asking your update everyday.</p>
              </div>
            </div>
          </div>
          <br><br><br><br><br><br>

          

<!-- /* animated container of questions */ -->
        <div class="container-questions">
            <!-- Image Container -->
            <div class="image-container"></div>

            <!-- Typing Animation Container -->
            <div class="typing-animation-container">
                <!-- Typing Animation -->
                <div class="typing-animation" id="question-container"></div>
            </div>

            <!-- Text Container -->
            <div class="text-container">
                <!-- Two Lines of Text -->
                <div class="text-line">Early detection can help you in timely treatment.
                    Begin your diagnosis today.</div>

                <!-- Cute Button -->
                <a href="{% url 'experts' %}" >
                    <button class="cute-button">Consult our Doctor!</button>
                </a>    
            </div>
        </div>
        


<!-- why Minddoc -->

    <div class="whyminddoc">
        <h1 id="h1">Why Minddoc?</h1><br>
    </div>      

    <div class="whycardcontainer">
        <div class="card-why">
        <img src="{% static 'home/study-your-daily-schedule.png' %}" alt="Image 1">
        <h3>Study your daily schedule</h3>
        </div>

        <div class="card-why">
        <img src="{% static 'home/personalized-care-plans.png' %}" alt="Image 2">
        <h3>Pesonalized care plans</h3>
        </div>

        <div class="card-why">
        <img src="{% static 'home/scientist.png' %}" alt="Image 3">
        <h3>Science backed care</h3>
        </div>

        <div class="card-why">
        <img src="{% static 'home/coach.png' %}" alt="Image 4">
        <h3>Health coach support</h3>
        </div>

        <div class="card-why">
        <img src="{% static 'home/route.png' %}" alt="Image 5">
        <h3>Goal based approach</h3>
        </div>
    </div>

<!-- doctor details     -->
    <div class="doctor">
        <h1 id="h1">Meet our Doctor</h1><br>
    </div> 

    <div class="doctor-container">

        <div class="doctor-details">
          <h2>Dr. Bhavesh Kathiriya</h2><br>
          <ul class="details-list">
            <li><span>Degree:</span>MBBS, MD</li>
            <li><span>Specialization:</span>Neuro-Psychiatry</li>
            <li><span>Experience:</span> 15 years</li>
            <li><span>Email:</span> <a href="hubofpsychiatry9999@gmail.com">hubofpsychiatry9999@gmail.com</a></li>
          </ul>
        </div>
    
        <div class="doctor-image">
          <img src="{% static 'home/real-doctor-1.jpg' %}" alt="Doctor Image">
        </div>
    
      </div><br><br>

      <!-- FOOTER -->
      

<!-- /* script of animated container of questions */ -->
        <script>
            // JavaScript for the typing animation
            const questions = [" Mood Swings?", " Trouble Focusing?", "Frequent Panic Attacks?", "Dizzy Feeling all the time?"];
            let questionIndex = 0;
            const questionContainer = document.getElementById('question-container');

            function typeQuestion() {
                const currentQuestion = questions[questionIndex];
                let charIndex = 0;
                const typingInterval = setInterval(() => {
                    questionContainer.textContent = "Get " + currentQuestion.substring(0, charIndex);
                    charIndex++;
                    if (charIndex > currentQuestion.length) {
                        clearInterval(typingInterval);
                        setTimeout(() => {
                            questionContainer.textContent = ""; // Clear the container after typing
                            questionIndex = (questionIndex + 1) % questions.length; // Move to the next question
                            setTimeout(typeQuestion, 500); // Delay before typing the next question
                        }, 1000);
                    }
                }, 50);
            }

            // Start the typing animation
            typeQuestion();
        </script>
<!-- /* here finishes the script of animated container of questions */ -->

























{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% if user.is_authenticated %}
            <br>
            <table class="table table-bordered table-hover">
              <thead class="table-success">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Zipcode</th>
                  <th scope="col">Date-Time</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
              <!--this records are coming from parameter given in else part of the home view and that is connected to records variable-->
                    {% if records %}
                        {% for record in records %}
                        <tr>
<!--record.id will show the address of that id in the bottom of the page-->
                            <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                            <td>{{ record.firstname }}
                            {{ record.lastname }}</td>
                            <td>{{ record.email }}</td>
                            <td>{{ record.contactNumber }}</td>
                            <td>{{ record.zipcode }}</td>
                            <td>{{ record.created_at }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
              </tbody>
            </table>

      {% else %}
{% endif %} {% endcomment %}

{% include 'home/footer_another.html' %}
{% endblock %}