{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<style>
        /* Styling for the big picture */
        .big-picture {
            background-image: url({% static 'home/photo.jpg' %}); /* Replace 'your-image.jpg' with your image URL */
            background-size: cover;
            background-position: center;
            height: 100vh; /* Adjust the height as needed */
        }

        /* Styling for the About Us section */
        .about-us {
            background-color: #f2f2f2; /* Background color for the section */
            padding: 40px;
            height: 250px;
        }

        /* Styling for the text in the About Us section */
        .about-us-text {
            max-width: 800px; /* Adjust the maximum width as needed */
            margin: 0 auto;
        }
</style>
{% if user.is_authenticated %}
            <br>
            <table class="table table-bordered table-hover">
              <thead class="table-success">
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Zipcode</th>
                  <th scope="col">Date-Time</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
              <!--this records are coming from parameter given in else part of the home view and that is connected to records variable-->
                    {% if records %}
                        {% for record in records %}
                        <tr>
<!--record.id will show the address of that id in the bottom of the page-->
                            <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                            <td>{{ record.firstname }}
                            {{ record.lastname }}</td>
                            <td>{{ record.email }}</td>
                            <td>{{ record.contactNumber }}</td>
                            <td>{{ record.zipcode }}</td>
                            <td>{{ record.created_at }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
              </tbody>
            </table>

      {% else %}
      <br>
      <div class="big-picture">
        <!-- You can add any content you want to display on top of the image here -->
      </div>

    <div class="about-us">
        <div class="about-us-text">
            <h2>About Us</h2>
            <p><strong>Let us heal you.</strong><br><h3>Register and fill out a form to see your current mental health.</h3></p>
            <!-- Add more content about your company here -->
        </div>
    </div>
{% endif %}


{% endblock %}