{% extends 'home/base.html' %}

{% block content %}
{% load static %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Montserrat, sans-serif;
    }

    #carouselExample {
        margin-top: 170px;
    }

    .carousel-inner img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: 40px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        color: rgb(0, 255, 183);
    }

    .carousel-control-prev-icon {
        margin-left: -160px; /* Adjust as needed */
    }

    .carousel-control-next-icon {
        margin-left: 160px; /* Adjust as needed */
    }

    .three-parts{
        margin-top: 200px;
        margin-bottom: 40px;
    }

    .three-parts .first{
        width: 1300px;
        height: 300px;
        border: 1px solid rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
    }

    .first .outer{
        width: 700px;
        height: 300px;
        background-color: #fee5f2;
        border-radius: 10px;
        z-index:0;
        margin-right: 8px;
        
    }

    .first .inner{
        width: 500px;
        height: 300px;
        border-radius: 10px 10px 10px 10px;
        z-index: 1;
        margin-right: 10px;
    }

    .outer h5{
        color: #343470;
        font-size: x-larger;
        padding-left: 15px;
        padding-top: 125px;
        font-weight: 600;
    }

    .inner h4{
        color: #343470;
        font-size: x-larger;
        padding-left: 10px;
        padding-top: 125px;
        font-weight: 600;
    }

    .inner h6{
        padding-left: 10px;
        color: #343470;
        cursor: pointer;
        text-decoration: underline;
    }

    .inner h6:hover{
        color: #d65725;
    }

    .first #inner3{
        background-color: #E6F7FF;
        border-radius: 10px;
    }

    .first #inner2{
        background-color: #FFF1E6;
    }

    .first #inner1{
        background-color: #f9f3d9;
    }
    
</style>
<!-- the damn carousel -->
<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'home/last3.png' %}" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'home/first1.png' %}" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'home/second2.png' %}" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p class="third_p">
                </p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>

    <!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<div class="three-parts">
    <div class="first">
        <div class="outer">
            <h5>Phobias could happen because of various..</h5>
        </div>
        <div class="inner" id="inner1">
            <h4>ENTITIES</h4>
            <h6><a>Know numerous of them..</a></h6>
        </div>
        <div class="inner" id="inner2">
            <h4>OBJECTS</h4>
            <h6><a>Know numerous of them..</a></h6>
        </div>
        <div class="inner" id="inner3">
            <h4>SITUATIONS</h4>
            <h6><a>Know numerous of them..</a></h6>
        </div>
    </div>
</div>

{% endblock %}
