{% extends 'home/base.html' %}

{% block content %}
{% load static %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Montserrat, sans-serif;
    }

    #carouselExample {
        margin-top: 160px;
    }

    .carousel-inner img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: 40px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: black;
        color: rgb(0, 255, 183);
    }

    .carousel-control-prev-icon {
        margin-left: -160px; /* Adjust as needed */
    }

    .carousel-control-next-icon {
        margin-left: 160px; /* Adjust as needed */
    }





    .three-parts{
        width: 1500px;
        height: 450px;
        border: 1px solid rgb(255, 255, 255);
        margin-top: 10px;
        margin-left: -110px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .three-parts .outer{
        width: 320px;
        height: 450px;
        background-color:#1F405A;
        border-radius: 20px;
        cursor: pointer;  
    }

    .three-parts .inner{
        width: 320px;
        height: 450px;
        background-color:#fdf4ea;
        border-radius: 20px;
    }

    .three-parts .outer img{
        height: 200px;
        width: 300px;
        margin-left: 11px;
        margin-top: 11px;
        border-radius: 20px;
    }

    .three-parts .outer h4{
        color: white;
        font-size: 17px;
        margin-top: 20px;
        text-wrap: wrap;
        text-align: left;
        margin-left: 18px;
        font-weight: light;

    }
    .three-parts .outer h3{
        color: white;
        font-size: 23px;
        margin-top: 39px;
        text-wrap: wrap;
        text-align: left;
        margin-left: 22px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .three-parts button{
        background-color: #ffffff;
        color: black;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 18px;
        font-weight: bolder;
        margin-top: -20px;
    }
    
    .three-parts button:hover {
            background-color: #dde8f7;
    }

    .all-of-them{
        
        width: 1400px;
        border: 1px solid rgb(255, 255, 255);
    }

    .all-of-them a{
        color: black;
        font-weight: 300;
        font-size: large;
        margin-left: 1240px;
        cursor: pointer;
    }
    .all-of-them a:hover{
        color:#1F405A;
        font-size: x-large;
        transition: 0.3s;
    }

    .inner img{
        height: 200px;
        width: 300px;
        margin-left: 11px;
        margin-top: 11px;
        border-radius: 20px;
    }

    .three-parts .inner h4{
        color:#343470;
        font-size: 23px;
        margin-top: 30px;
        text-wrap: wrap;
        text-align: left;
        margin-left: 18px;
        font-weight: 600;
    }
    
    .three-parts .inner button{
        background-color: #FDF4EA;
        color: #343470;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 0px;
        font-weight: bolder;
        margin-top: 40px;
        text-decoration: underline;
    }

    .three-parts .inner button:hover{
        color: black;
    }
    
    .three-parts .inner img{
        height: 200px;
        width: 300px;
        margin-left: 9px;
        margin-top: 11px;
        border-radius: 20px;
    }
   

    
    


    .lastone {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #F1F2ED;
            border-radius: 20px;
            width: 1300px;
            height: 400px;
            margin: 150px auto;
            margin-bottom: 80px;
        }

        .lasttext {
            max-width: 60%;
            color: #343470;
            margin-left: 50px;
        }

        .lasttext h4 {
            font-size: 28px;
            margin-bottom: 10px;
            font-weight: bolder;
        }

        .lasttext h5 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .lasttext button {
            background-color: #f73d9d;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .lasttext button:hover {
            background-color: #e00476;
        }

        .lastimage {
            margin-right: 0px;
            overflow: hidden;
            border-radius: 50%;
        }

        .lastimage img {
            width: 340px;
            height: 400px;
        }

        .dontworry{
            margin-top: -40px;
            margin-left: 30px;
            margin-bottom: 90px;
        }

        .dontworry h3{
            font-size: 20px;
            color: grey;
        }

</style>
<!-- the damn carousel -->
<div id="carouselExample" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'home/last3.png' %}" class="d-block w-100" alt="Slide 1">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'home/first1.png' %}" class="d-block w-100" alt="Slide 2">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p></p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="{% static 'home/second2.png' %}" class="d-block w-100" alt="Slide 3">
            <div class="carousel-caption d-none d-md-block">
                <h5></h5>
                <p class="third_p">
                </p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExample" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>
    <!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<br><br>
<div class="dontworry">
    <h3>Don't worry. We have not used any weird images in order to describe the phobias. All the pictorial presentations are so subtle and decent.</h3>
</div>
<div class="all-of-them">
    <a href="{%url 'objects' %}">All of them &#x2192;</a>
</div>

<a href="{%url 'objects' %}">
<div class="three-parts">
    
        <div class="outer">
            <img src="{%static 'home/objects (1).png' %}">
            <h4>Phobias could take place because of various..</h4>
            <h3>OBJECTS</h3>
            <a href="{%url 'objects' %}">
                <button>Know more!</button>
            </a>
        </div></a>
        <div class="inner" id="inner1">
            <img src="{%static 'home/NOSOCOMEPHOBIA.jpg' %}">
            <h4>Do you find hospitals scary?</h4>
            <a href="{%url 'noscomephobia' %}">
                <button>Read blog</button>
            </a>
        </div>  
        <div class="inner" id="inner2">
            <img src="{%static 'home/hemophobia.jpg' %}">
            <h4>HEMOPHOBIA- fear of blood</h4>
            <a href="{%url 'hemophobia' %}">
                <button>Read blog</button>
            </a>
        </div>
        <div class="inner" id="inner3">
            <img src="{%static 'home/photophobia.jpg' %}">
            <h4>Does extreme light freakes you out?</h4>
            <a href="{%url 'photophobia' %}">
                <button>Read blog</button>
            </a>
        </div>
</div>


<br><br>
<div class="all-of-them">
    <a href="{%url 'subjects' %}">All of them &#x2192;</a>
</div>
<a href="{%url 'subjects' %}">
<div class="three-parts">
    <div class="outer">
        <img src="{%static 'home/subjects.png' %}">
        <h4>Phobias could take place because of various..</h4>
        <h3>SUBJECTS</h3>
        <a href="{%url 'subjects' %}">
            <button>Know more!</button>
        </a>
    </div></a>
    <div class="inner" id="inner1">
        <img src="{%static 'home/anthrophobia.jpg' %}">
        <h4>Fear of heavy crowd or people</h4>
        <a href="{%url 'anthrophobia'%}">
            <button>Read blog</button>
        </a>
    </div>  
    <div class="inner" id="inner2">
        <img src="{%static 'home/zoophobia3.jpg' %}">
        <h4>Does being around animals creeps you out?</h4>
        <a href="{%url 'zoophobia'%}">
            <button>Read blog</button>
        </a>
    </div>
    <div class="inner" id="inner3">
        <img src="{%static 'home/clowns.jpg' %}">
        <h4 style="margin-top: 50px;">Fear of clowns</h4>
        <a href="{%url 'coulrophobia'%}">
            <button>Read blog</button>
        </a>
    </div>
</div>

<br><br>
<div class="all-of-them">
    <a href="{%url 'situations' %}">All of them &#x2192;</a>
</div>
<a href="{%url 'situations' %}">
<div class="three-parts">
    <div class="outer">
        <img src="{%static 'home/situations1.png' %}">
        <h4>Phobias could take place because of various..</h4>
        <h3>SITUATIONS</h3>
        <a href="{%url 'situations' %}">
            <button>Know more!</button>
        </a>
    </div></a>
    <div class="inner" id="inner1">
        <img src="{%static 'home/acrophobia.jpg' %}">
        <h4>Are you scared of heights?</h4>
        <a href="{%url 'acrophobia' %}">
            <button>Read blog</button>
        </a>
    </div>  
    <div class="inner" id="inner2">
        <img src="{%static 'home/claustrophobia.jpg' %}">
        <h4>Do you feel conjusted in packed places?</h4>
        <a href="{%url 'claustrophobia' %}">
            <button>Read blog</button>
        </a>
    </div>
    <div class="inner" id="inner3">
        <img src="{%static 'home/Aquaphobia.jpg' %}">
        <h4>Do you feel peculiar by looking at waterbodies?</h4>
        <a href="{%url 'aquaphobia' %}">
            <button>Read blog</button>
        </a>
    </div>
</div>

<div class="lastone">
        <div class="lasttext">
            <h4>There could be other phobias you suffer other than we depicted above.</h4>
            <h5>Don't Panic, you Fighter!</h5>
            <h5>Consult our experienced psychiatrist.</h5>
            <a href="{% url 'experts' %}" class="consult-button">
                <button>Consult!</button>
            </a>
        </div>

        <div class="lastimage">
            <img src="{%static 'home/handle-with-care.jpg'%}" alt="pic">
        </div>
</div>

{% include 'home/footer_another.html' %}

{% endblock %}
