{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Elsie">

<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Montserrat,sans-serif;
    }
    
    .whole{
        display: flex;
        height: 830px;
        width: 1700px;
        margin-left: -210px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .first{
      width: 290px;
      animation: slideInLeft 1s ease-out; 
    }
    .first img{
      opacity: 90%;
      position: fixed;
    }

    

    @keyframes slideInLeft {
        0% {
            transform: translateX(-100%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .middle{
      width: 1370px;
    }

    .middle h2{
      margin-top: 200px;
      font-size: 25px;
      color: #343470;
      font-family: Elsie;
      font-weight: bold;
      letter-spacing: 14px;
      margin-left: 365px;
    }

    .middle h4{
      margin-top: -9px;
      font-size: 15px;
      text-align: center;
      color: rgb(99, 99, 99);
      text-wrap: wrap;
      padding: 20px 50px;
    }

    .middle h5{
      margin-top: 50px;
      font-size: 16px;
      color: rgb(99, 99, 99);
      text-wrap: wrap;
    }
    .middle h5 b{
      font-size: 20px;
      color: #343470;
    }
    .middle li{
      text-align: center;
      list-style:none;
      padding-bottom: 10px;
      padding: 10px;
    }

    .remedies{
      margin-top: 60px;
    }
    .diagnosis{
      margin-top: 60px;
    }
    .funfacts{
      margin-top: 60px;
    }
    .middle .funfacts b{
      animation: blink 1s infinite;
      color: deeppink;
    }
    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }
    .quote{
      margin-top: 90px;
      height: 70px;
      width: 1015px;
      margin-left: 190px;
      border: 2px solid black;
      border-radius: 30px;
      position: relative;
    }
    .quote h4{
      font-size: 17px;
      margin-top: 0;
      margin-left: 35px;
      position: absolute;
      top: 10px;
      color: #343470;
    }
    .quote span{
      font-size: 160px;
      margin-left: 30px;
      color: black;
      position: absolute;
      top: -29px;
    }
    .desc h4{
      text-align: center;
      font-size: 19px;
      text-align: center;
      color: #343470;
      text-wrap: wrap;
      padding: 90px;
      line-height: 26px;
      font-weight: bold;
    }

    .movie {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 20px;
            width: 1200px;
            height: 100px;
            margin: 100px auto;
        }

        .movietext {
            max-width: 60%;
            color: #343470;
        }

        .movietext li {
            font-size: 16px;
            margin-left: -10px;
            line-height: 10px;
            text-align: left;
            text-wrap: nowrap;
        }
        .movieimage img {
            width: 300px;
            height: 300px;
            margin-left: 70px;
        }

        .song {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 20px;
            width: 1200px;
            height: 100px;
            margin: 300px auto;
        }

        .songtext {
            max-width: 60%;
            color: #343470;
        }

        .songtext li {
            font-size: 16px;
            margin-left: -10px;
            line-height: 10px;
            text-align: left;
            text-wrap: nowrap;
        }
        .songimage img {
            width: 300px;
            height: 290px;
            margin-left: 70px;
            
        }     

        .relaxation{
          margin-top: -100px;
        }

        .relaxation h4{
          text-align: center;
          font-size: 21px;
          text-align: center;
          color: #343470;
          text-wrap: wrap;
          padding: 10px;
          line-height: 26px;
          font-weight: bold;
          text-decoration: overline underline;
        }

    

</style>

<div class="whole">
    <div class="all first">
      <img src="{%static 'home/forcommondisorder.jpg'%}">
    </div>

    <div class="all middle">
      <h2>POST TRAUMATIC DISORDER</h2>
      <h4>It is a mental health condition that can develop after experiencing or witnessing a traumatic event. Individuals with PTSD may encounter persistent, distressing thoughts and memories, impacting their daily lives. Coping with PTSD is a journey towards healing and resilience.
        </h4>
      <h5>
        <div class="symptoms">
          <center><b>Symptoms:</b></center>          
          <ul style="margin-top: 10px;">
            <li>-Intrusive Memories: Recurrent, distressing memories, or flashbacks of the traumatic event.</li>
            <li>-Avoidance: Avoidance of reminders, thoughts, or feelings associated with the trauma.</li>
            <li>-Negative Changes in Mood: Persistent negative emotions, feeling detached, or a diminished interest in activities.</li>
            <li>-Changes in Reactivity: Heightened arousal, including irritability, difficulty sleeping, or being easily startled.</li>
            <li>-Cognition and Mood Symptoms: Negative changes in beliefs or expectations about oneself or the world.</li>
          </ul>
        </div>
  
        <div class="remedies">
          <center><b style="top: 60px;">Remedies:</b></center> 
          <ul style="margin-top: 10px;">
            <li>-Grounding Techniques: Engage in activities that bring attention to the present moment to reduce anxiety.</li>
            <li>-Expressive Writing: Journaling about the traumatic experience can be a therapeutic outlet.</li>
            <li>-Self-Care: Prioritize self-care activities to promote physical and emotional well-being.</li>
            <li>-Support Groups: Connecting with others who have experienced similar traumas can provide a sense of understanding and validation.</li>
            <li>Mind-Body Techniques: Practices like mindfulness and yoga can aid in managing symptoms.</li>
                
          </ul>
        </div>

        <div class="diagnosis">
          <center><b>Diagnosis:</b></center> 
          <ul style="margin-top: 10px;">
            <li>- Did you know that laughter is a fantastic stress-buster? It not only releases feel-good endorphins but also decreases stress hormones.</li>
          </ul>
        </div>

        <div class="funfacts">
          <center><b>Inspiration from Resilience:</b></center> 
          <ul style="margin-top: 10px;">
            <li>- Recognizing the strength within oneself and finding inspiration in moments of resilience are integral aspects of the journey towards healing from PTSD.</li>
            <li>- Animals, especially dogs, can be trained to provide support and comfort to individuals with PTSD.</li>
          </ul>
        </div>
        
        <div class="quote">
          <span>&#8220;</span>
          <h4>Healing doesn't mean the damage never existed. It means the damage no longer controls our lives - Akshay Dubey</h4>
        </div>

        <div class="desc">
          <h4>
              According to study conducted by MIT, 90% of data transmitted to the human brain is visual. More then any other factor, visuals<br> affects human mind in the most efficient and profound way. <span style="text-decoration: underline;">Here are some reccomendation from the entertainment section...</span>
          </h4>
        </div>
      </h5>

      <div class="movie">
          <div class="movietext">
              <ul>
                <li style="font-size: larger; font-weight: bold; color: deeppink; margin-bottom: 15px;">The Movie we reccomend:</li>
                <li>Movie: Immerse yourself in the impactful story of "American Sniper."</li>
                <li>-Explores the challenges of a Navy SEAL coping with PTSD.</li>
                <li>-Highlights the complexities of post-traumatic stress.</li>
                <li>-Emphasizes the importance of understanding and support.</li>
                <li>-Directed by Clint Eastwood, known for his nuanced portrayals of real-life events.</li>
              </ul>
          </div>
          <div class="movieimage">
              <img src="{%static 'home/ptsd (3).jpg'%}" alt="pic">
          </div>
      </div>

      <div class="song">
        <div class="songtext">
            <ul>
              <li style="font-size: larger; font-weight: bold; color: deeppink; margin-bottom: 15px;">The Music track we reccomend:</li>
              <li>Song: Find solace in the healing melodies of "The Sound of Silence" by Disturbed.</li>
              <li>-A powerful rendition encapsulating the emotional journey of grappling with silence.</li>
              <li>-Echoes the resilience needed to confront inner struggles.</li>
              <li>-Provides a melodic companion for moments of reflection and healing.</li>
              <li>-Disturbed's unique interpretation adds a haunting depth to the classic song.</li>  
              <li>-The song's emotive power has resonated with diverse audiences worldwide.</li>  
            </ul>
        </div>
        <div class="songimage">
            <img src="{%static 'home/ptsd (2).jpg'%}" alt="pic">
        </div>
    </div>

    <div class="song">
      <div class="songtext">
          <ul>
            <li style="font-size: larger; font-weight: bold; color: deeppink; margin-bottom: 15px;">The Book we reccomend:</li>
            <li>Book: Dive into "The Body Keeps the Score" by Bessel van der Kolk.</li>
              <li>-Delves into the science of trauma and pathways to recovery.</li>
              <li>-Offers a compassionate understanding of PTSD.</li>
              <li>-Insightful exploration of the impact of trauma on the body and mind.</li>
              <li>-Widely acclaimed in the mental health community for its comprehensive insights.</li>  
          </ul>
      </div>
      <div class="songimage">
          <img src="{%static 'home/ptsd (1).jpg'%}" alt="pic">
      </div>
  </div>

  <div class="relaxation">
    <h4>Relaxation tips from MindDoc:</h4>
    <ul>
      <li>-Incorporate deep-breathing exercises into your routine to manage stress.</li>
      <li>-Explore progressive muscle relaxation techniques to release tension.</li>
      <li>-Engage in activities that bring joy and divert attention from obsessive thoughts.</li>
      <li>-Establish a consistent sleep routine to promote overall well-being.</li>
    </ul>
  </div>

</div>

</div>











{% comment %} {% include 'home/footer_vlog.html' %} {% endcomment %}

{% endblock %}