{% extends 'home/base.html' %}

{% block content %}
{% load static %}
{%include 'event/event_base.html'%}

<style>
    body{
        margin: 0;
        font-family: Montserrat, sans-serif;
        
    }
    .container{
        padding-top: 170px;     
        
    }
    .container h4{
        font-weight: bold;
        font-size: x-large;
        color:darkblue;
        position: relative;
        top: 10%;
    }
    @media only screen and (max-width: 1024px){
        body{
        padding-top: 150px;
        }
    }

    .card{
        color:rgb(46, 46, 50);
    }
</style>

<body>
    <div class="container">
        <center><h4>CURRENT EVENTS</h4></center>
        <div class="card">
            <h5 class="card-header" style="background-color: rgb(255, 243, 245);"><strong>{{ event }}</strong></h5> 
                <div class="card-body">
                    <h5 class="card-title"><strong>Venue:</strong> {{ event.venue }}</h5>
                    <p class="card-text">
                        <ul>
                            <li>Date: {{ event.event_date }}</li>
                            <li>Occured: {{ event.Is_Past }}</li>
                            <li>Days Till Event: {{ event.Days_till }}</li>
                            <li>Venue Website: {{ event.venue.web }}</li>
                            <li>Manger: {{ event.manager }}</li>
                            <li>Brief details: {{ event.description }}</li>
                            <li>Attendees:
                                {% for user in event.attendees.all %}
                                    {{ user }},
                                {% endfor %}
                            </li><br>
                        </ul>
                    </p>
                </div>
                {%if user == event.manager%}
                <div class="card-footer text-body-secondary">
                        <a class="btn btn-outline-secondary" href="{% url 'update_event' event.id %}">Update Event</a>
                        <a class="btn btn-outline-danger" href="{% url 'delete_event' event.id %}">Delete Event</a>
                    
                </div>
                {%endif%}
            </div><br><br>
            </div>   
</body>
{% endblock %}